<%- include('partials/header', { title: "Home" }) %>
    <h1>Admin Landing Page</h1>
    <form action="/logout" method="post">
        <button type="submit">Logout</button>
    </form>
<%- include('partials/footer') %>